.skillIcon {
    font-size: 6em;
}

.skillsContainer {
    display: flex;
    margin-bottom: 30px;
    padding: 0px 0px 23px 16px;
    flex-wrap: wrap;
}

.hidden {
    display: none;
    width: 0px;
    height: 0px;
}

.skillImages {
    max-width: 6em;
}