.skillCard {
    display: flex;
    font-weight: bolder;
    font-size: larger;
}

.skillIcon {
    font-size: 6em;
}

.skillsContainer {
    display: flex;
    margin-bottom: 30px;
    padding: 0px 0px 23px 16px;
}