<mat-card class="employer">
    <mat-card-title class="title">{{employer?.companyName}}
        <mat-card-subtitle>{{employer?.startDate}} - {{employer?.endDate == undefined ? "present":
            employer?.endDate}}</mat-card-subtitle>
    </mat-card-title>
    <mat-card-content>
        <mat-list>

            <mat-list-item *ngFor="let desc of employer?.description; index as i">
                <mat-icon matListItemIcon>folder</mat-icon>
                <div matListItemTitle>{{desc}}</div>

            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>