<div class="detailsContainer">
    <div class="imageContainer">
        <img mat-card-lg-image [src]="Details?.imageUrl" alt="profile pic">
    </div>
    <div class="textContainer">
        <div class="personalDetails">
            <div class="contactDetails">
                <div class="name">{{Details?.name}} </div>
                <div> {{Details?.jobRole}} </div>
                <div>{{Details?.phoneNumber}} </div>
                <div>{{Details?.email}}</div>
            </div>
            <div class="addressDetails">
                Address
                <ul>
                    <li *ngFor="let add of Details?.address">{{add}}</li>
                </ul>
            </div>

        </div>
        <mat-divider></mat-divider>
        <div class="sumamry">
            <span> {{Details?.Summary}} </span>
        </div>



    </div>


</div>

<mat-divider></mat-divider>