.detailsContainer {
    display: block;
    margin-left: 10px;

}

.imageContainer {}

.textContainer {
    display: flex;

}

.personalDetails {
    min-height: 20%;
    display: flex;
    padding: 10px;
    margin-right: 10px;
    // font-weight: bold;
}

.contactDetails {
    display: block;
    min-width: 50%;
    margin-left: 10px;
}

.sumamry {
    padding: 10px;
}

.name {
    font-size: larger;
    font-weight: bolder;
}